.form__button {
  margin: 47px 0 37px 0;
  padding: 0;
  border: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .form__button {
    margin: 45px 0 37px 0;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
