.register__button {
  padding: 0;
  border: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  background: #000000;
  font-family: Inter,'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}
