.element__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 18px;
  height: 19px;
  background: url(../../../images/icon-delete.svg) no-repeat;
}

.element__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
